@tailwind base;
@tailwind components;
@tailwind utilities;

.react-ios-time-picker {
  margin-left: 12% !important;
  margin-bottom: 15% !important;
}

.react-ios-time-picker-popup-overlay {
  backdrop-filter: blur(2px);
}

.react-ios-time-picker-btn-container {
  background-color: #ef4444 !important;
  border-bottom: 1px solid #ef4444 !important;
}

.react-ios-time-picker-btn {
  color: white !important;
}

.react-ios-time-picker-selected-overlay {
  background-color: #ec7d7d !important;
}

.react-ios-time-picker-cell-inner-hour:hover {
  background-color: #ec7d7d !important;
}

.react-ios-time-picker-cell-inner-minute:hover {
  background-color: #ec7d7d !important;
}

.react-ios-time-picker-container {
  background-color: white !important;
}

._3curk {
  background-color: transparent;
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
  .react-ios-time-picker {
    margin-left: 1% !important;
    margin-bottom: 40% !important;
  }
}
